@font-face {
    font-family: 'Familiar Pro';
    src: url('FamiliarPro-Bold.eot');
    src: local('Familiar Pro Bold'), local('FamiliarPro-Bold'),
        url('FamiliarPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('FamiliarPro-Bold.woff2') format('woff2'),
        url('FamiliarPro-Bold.woff') format('woff'),
        url('FamiliarPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

