body {
background: #222;
	margin: 0rem;
	min-height: 100vh;
}

#particleCanvas {
  position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: 1;
}

#textCanvas {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: 0;
}
